<!DOCTYPE html>
<html>

  <head>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="app.css">
    <title>Xmas Treats</title>
  </head>

  <body>
    <h1 class="christmas-title">
      German Christmas Treats
    </h1>
    <%= yield %>
  </body>
</html>
